* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#board {
  position: relative;
  width: 1024px;
  height: 100vh;
  margin: auto;
  background: url(./images/board.jpg);
  background-repeat: no-repeat;
}

#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

table {
  position: absolute;
  left: 173px;
  top: 98px;
}

td {
  width: 94px;
  height: 94px;
  background-color: rgba(0, 128, 0, 0.26);
  opacity: 0.9;
}

form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit {
  background: url(./images/ship.png) no-repeat center center;
}

.miss {
  background: url(./images/miss.png) no-repeat center center;
}
